<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/maxlazz"><i class="fab fa-github"></i></a>
    <a href="https://github.com/kharns"><i class="fab fa-github"></i></a>
    <a href="https://github.com/brayan113018"><i class="fab fa-github"></i></a>
  </div>
  <div class="footer-copyright">
    Disguise Yourself
  </div>
</div>
