<div class="footer">
  <div>Made at Le Wagon Nantes</div>
  <div id="github-links">
    <p class="text-center mb-1">Check our github!</p>
    <div class="footer-links">
      <a href="https://github.com/maxlazz"><i class="fab fa-github"></i></a>
      <a href="https://github.com/kharns"><i class="fab fa-github"></i></a>
      <a href="https://github.com/brayan113018"><i class="fab fa-github"></i></a>
      <a href="https://github.com/nina44000"><i class="fab fa-github"></i></a>
    </div>
  </div>

  <div class="footer-copyright">
    DisguiseYourself Inc.
  </div>
</div>
