<div class="banner">
  <div class="container">
      <h1>Disguise Yourself !</h1>
      <div class="costume1">
      <img src="#" alt="Costume 1">
      </div>
      <p>Become who you've ever dream to be ! </p>
      <a class="btn" href="#">Click to change your costum</a>
  </div>
</div>
