.costume-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  padding: 32px;
}

.costume-card {
  border: 1px solid #ddd;
  padding: 16px;
  border-radius: 10px;
  text-align: center;
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(236,243,244,1) 100%, rgba(0,212,255,1) 100%);
}

.costume-photo {
  // width: 100%;
  // height: auto;
  border-radius: 10px;
}

.costume-name {
  font-size: 19px;
  margin: 8px 0;
  color: whitesmoke;
}

#costume-price-new {
  font-size: 18px;
  color: whitesmoke;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

#title-index {
  text-align: center;
  font-family: Impact;
  margin-top: 8px;
}
