.costume-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  padding: 32px;
}

.costume-card {
  border: 1px solid #ddd;
  padding: 16px;
  border-radius: 10px;
  text-align: center;
}

.costume-photo {
  // width: 100%;
  // height: auto;
  border-radius: 10px;
}

.costume-name {
  font-size: 19px;
  margin: 8px 0;
}

.costume-price {
  font-size: 18px;
  color: #e74c3c;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}
