.costume-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  padding: 32px;
}

.costume-card {
  border: 1px solid #ddd;
  padding: 16px;
  border-radius: 10px;
  text-align: center;
  //background: linear-gradient(90deg, rgba(139,143,144,1) 18%, rgba(195,198,198,1) 50%, rgba(139,143,144,1) 87%);
  background: linear-gradient(90deg, rgba(105,108,108,1) 18%, rgba(185,190,191,1) 50%, rgba(105,108,108,1) 87%);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5) ;
}

.costume-photo {
  // width: 100%;
  // height: auto;
  border-radius: 10px;
}

.costume-name {
  font-size: 19px;
  margin: 8px 0;
  color: whitesmoke;
}

#costume-price-new {
  font-size: 18px;
  color: whitesmoke;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

#title-index {
  text-align: center;
  font-family: Impact;
  margin-top: 8px;
}
