.footer {
  background-color: #999999;
  display: flex; /* Pour aligner les logos horizontalement */
  justify-content: center; /* Centre les logos horizontalement */
  align-items: center; /* Centre verticalement dans le footer */
  bottom: 0;
  color: white;
  text-align: center;
}
