// Navbar All pages
.navbar-lewagon {
  justify-content: space-between;
  padding-inline: 50px;
  gap: 100px;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-item active {
  padding-left: 30px;
}

#navname a {
  list-style-type: none;
  text-decoration: none;
  color: black;
  font-size: large;
}
