// Home Navbar
.navbar-home {
  display: flex;
  justify-content: space-between;
  background: white;
  // opacity: 0.2;
}

.navbarhome-brand {
  display: flex;
}

.navbar-home .navbar-collapse {
  flex-grow: 0;
}

.navbar-home .navbar-brand img {
  width: 40px;
}

#homename a {
  list-style-type: none;
  text-decoration: none;
  color: black;
}
